<div class="container">
  <h1 class = "titre-page-mobile pharmaname"><%= @pharmacy.name %></h1>
  <p class="pharmacie-address"><i class="fa-solid fa-location-dot"></i> <%= @pharmacy.address %></p>

  <div class="checkout-card">
    <div class="checkout-section">
      <h3 class= "pharmaname">Ordonnance du Dr <%= @prescription.doctor.last_name %></h3>
      <% @drugs.each do |drug| %>
        <p> <%= image_tag "icons8-pill-64.png", alt: "icone de medoc", class: "drugicon" %><%= drug.item.name.capitalize %></p>
      <% end %>
    </div>
    <hr>
    <div class="checkout-section">
      <h3 class= "pharmaname">Parapharmacie</h3>
      <% @cart_items.each do |cart_item|%>
        <li class="cart-item">
          <div class="cart-item-info">
            <%= cart_item.quantity %> x <%= cart_item.item.name %> - <%= cart_item.quantity * cart_item.item.price %> €
          </div>
          <div class="cart-item-delete">
            <%= link_to cart_item_path(cart_item), data: { turbo_method: :delete } do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end  %>
          </div>
        </li>
      <% end %>
    </div>
    <hr>
    <div class="checkout-section section3" data-controller="total">
      <div class="delivery-option">
        <input type="checkbox" id="delivery-checkbox" name="delivery-checkbox" value="yes" data-action="change->total#updateTotal" data-total-target ="checkbox">
        <label for="delivery-checkbox">En livraison ? (5€)</label>
      </div>
      <h3>Total: <span data-total-target="finalPrice"><%= @final_price %></span> € </h3>
        <%= link_to cart_path(@cart, price: @final_price, pharmacy: @pharmacy), data: {turbo_method: :patch} do %>
        <button class="total total-button" data-bs-toggle = "modal" data-bs-target = "#confirmation">
          Commander
        </button>
        <% end %>


    </div>
  </div>

  <h3 class= "pharmaname" >Parapharmacie</h3>
  <div class="product-cards">
    <% @parapharma.each do |para| %>
      <div class="product-card">
        <div class="product-photo">
          <%= cl_image_tag para.photo.key, height: 100, width: 100, crop: :fit, class: "img-show" %>
        </div>
        <div class="product-info">
          <div class="product-details">
            <h4><strong><%= para.name %></strong> - <br> <%= para.price %> € l'unité </h4>
            <p><%= para.desc %></p>
          </div>
          <div class="product-add" data-controller="quantity">
          <% cart_item = CartItem.find_by(item: para, cart: @cart) %>
            <div class="quantity"  >
              <button class="decrement" data-action="click->quantity#decrement">
                <i class="fa-solid fa-minus"></i>
              </button>
                <input type="number" class="quantity-input" data-target="quantity.input" value="<%= cart_item.present? ? cart_item.quantity : 1 %>" min="1">
              <button class="increment" data-action="click->quantity#increment">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
            <% if cart_item.present? %>
              <%= link_to "Modifier", cart_item_path(cart_item, quantity: 1), class: "update-button", data: { turbo_method: :patch, action: 'click->quantity#updateQuantity', target: "quantity.link" } %>
            <% else %>
              <%= link_to "Ajouter", cart_cart_items_path(@cart, item_id: para.id, quantity: 1), class: "add-button", data: { turbo_method: :post, action: 'click->quantity#updateQuantity' , target: "quantity.link" } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
