<h1>Pharmacies#show</h1>
<p>Find me in app/views/pharmacies/show.html.erb</p>

<h1><%= @pharmacy.name %></h1>
<p><strong>Address:</strong> <%= @pharmacy.address %></p>

<p>Display du basket:</p>
<p><%= @basket.id %></li></p>
<p><%= @basket.status %></li></p>

<p>Medicament de l'ordonnance:</p>
<ul><%  @drugs.each do |drug| %></ul>
<li><%= drug.item.name %></li>
<li><%= link_to "Ajouter ce medicament", basket_orders_path(@basket, item_id: drug.item.id), data: {turbo_method: :post} %></li>
  <% end %>


  <p>Medicament en ventes libres:</p>
  <%  @parapharma.each do |para| %>
  <% order = Order.find_by(item: para, basket: @basket) %>
  <ul>
  <li><strong><%= link_to para.name, basket_orders_path(@basket, item_id: para.id, quantity: 1), data: {turbo_method: :post} %></strong></li>

  <% if order.present? %>
  <li><%= link_to "Modifier cet element", order_path(order), data: {turbo_method: :patch} %></li> <%# dynamiser la quantity quand le compteur sera codé %>
  <li><%= link_to "Supprimer cet element", order_path(order), data: {turbo_method: :delete} %></li>
  <% end %>


  <br>
  </ul>
  <% end %>
