<div class="container p-5">
  <h1>Ordonnance pour le patient <%= @prescription.patient.first_name %> <%= @prescription.patient.last_name %></h1>


<div id="ordonnance">
  <div id="flex-column">
      <div id="flexblox-ordonance-top">
          <div class="text-ordonance">
              <p><%= @prescription.doctor.first_name %> <%= @prescription.doctor.last_name %></p>
              <p>Médecin généraliste</p>
              <p>Numéro RPPS : <%= @prescription.doctor.rpps  %></p>
              <p><%= @prescription.doctor.address  %></p>
          </div>
          <div class="text-ordonance">
              <p>Le <%= Date.today.strftime('%d/%m/%Y')  %></p>
              <p><%= @prescription.patient.first_name %> <%= @prescription.patient.last_name %></p>
              <p><%= @prescription.patient.address %></p>
              <p><strong>N° SS : </strong><%= @prescription.patient.ssn %></p>
              <p><strong>Mutuelle : </strong> <%= @prescription.patient.mutuelle_name %></p>
              <p><strong>N° Mutuelle : </strong><%= @prescription.patient.mutuelle_number %></p>
          </div>
      </div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Newpresc">
        Ajouter une prescription
      </button>

      <div id="div-posologie">
        <% @prescription_items.sort.reverse!.each do |prescription_item| %>
          <ul class="list-inline mb-0">
            <li class="list-inline-item mt-4"><p><strong><%= prescription_item.item.name %></strong></p></li>
            <%= link_to doctor_prescription_item_path(prescription_item.id), class: "trash-link",data: {turbo_method: :delete, turbo_confirm: "Etes vous sur ?"} do %>
              <li class="list-inline-item"><i class="fa-regular fa-trash-can"></i></li>
            <% end  %>
            <li class="list-inline-item"> <i class="fa-regular fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#Newpresc-<%= prescription_item.id %>"></i></li>
          </ul>
          <p><%= prescription_item.item.desc %></p>
          <p class= "mb-4"> <u>Posologie : <%= prescription_item.posology %></u> </p>
        <% end %>
      </div>
  </div>
  <div class="footer-ordonance">
      <a href="/doctor/prescriptions" class="boutton-white">Sauvegarder</a>
      <%= link_to doctor_prescription_path(@prescription), data: {turbo_method: :patch} do %>
      <button class="bn632-hover bn26">Transmettre</button>
      <% end %>

  </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="Newpresc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir un médicament</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form_create', prescription: @prescription, prescription_item: @prescription_item, items: @items %>
      </div>
    </div>
  </div>
</div>


<% @prescription_items.each do |prescription_item| %>
<div class="modal fade" id="Newpresc-<%= prescription_item.id %>"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir un médicament</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form_update', prescription: @prescription, prescription_item: prescription_item, items: @items %>
      </div>
    </div>
  </div>
</div>
<% end %>
