<div class="container">
  <br>
  <div class="dashboard-top">
    <% if user_signed_in? && action_name != "home" %>
      <div class="titre-page">Bienvenue, <%= current_user.first_name%> <%= current_user.last_name%> !</div>
    <% end%>
    <a class="bn632-hover bn26" data-bs-toggle="modal" data-bs-target="#UserChoiceModal">Ordonnance<%= image_tag "add_medoc_button.png" %></a>
  </div>

    <h2 class="titre-secondaire"> <span><strong><%= @pending_prescriptions.count %></strong></span>  <%= "Ordonnance".pluralize(@pending_prescriptions.count) %> à finaliser</h2>

      <div id="doctor-prescriptions">
        <% @pending_prescriptions.sort.reverse!.each do |prescription|  %>
          <%= render "doctor/prescriptions/card-ordonance", prescription: prescription %>
        <% end %>
      </div>

      <h2 class="titre-secondaire"><span><strong><%= @sent_prescriptions.count %></strong></span> Ordonnances transmises</h2>

      <div id="doctor-prescriptions">
        <% @sent_prescriptions.sort.reverse!.each do |prescription|  %>
          <%= link_to doctor_prescription_path(prescription) do %>
            <%= render "doctor/prescriptions/card-ordonance", prescription: prescription %>
          <% end %>
        <% end %>
      </div>

  <!-- Modal -->
  <div class="modal-global modal fade" id="UserChoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir un patient</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= simple_form_for(@prescription, url: doctor_prescriptions_path, method: 'POST') do |f| %>
        <div class="modal-body">
          <%= f.input :patient_id, label: false, collection: Patient.simple_form_collection, input_html: {data: {controller: "tom-select", tom_select_placeholder_value: "Sélectionner un patient..."}}, class: "user-select" %>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Commencer → ', class: "bn632-hover bn26" %>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
