
<h1>Prescriptions#index</h1>
<p>Find me in app/views/prescriptions/index.html.erb</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UserChoiceModal">
  Préparer une nouvelle ordonnance
</button>

<!-- Modal -->
<div class="modal fade" id="UserChoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir un patient</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@prescription, url: doctor_prescriptions_path, method: 'POST') do |f| %>
          <%= f.input :patient_id, collection: Patient.simple_form_collection %>
          <%= f.submit 'Commencer', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h1>Mes dernières ordonances</h1>
<div id="flexbox-centrage">
  <div class="card-ordonance">
    <p>Ordonance déjà transmise</p>
    <p class="card-footer">Created by Rahul C.</p>
<h1> Bienvenue sur MedicHome</h1>
<div class="parent-flexbox">
    <button class= "boutton-carré" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <p>fdfdf </p>
    </button>
    <button class= "boutton-carré">
        <p>fdfdf </p>
    </button>
</div>

<% @prescriptions.each do |prescription|  %>
<ul>
<li><%= prescription.date %></li>
<li><%= prescription.doctor_id %></li>
<li><%= prescription.patient_id %></li>
<li><%= prescription.status %></li>
<li><%= link_to "Voir le detail",  doctor_prescription_path(prescription) %></li>
</ul>
<% end %>

<!-- Modal -->
<div class="modal-global modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sélectionner le patient:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Search bar à coder
      </div>
      <div class="modal-footer">
        <a href="#"class="btn-modal">Choisir</a>
      </div>
    </div>
  </div>
  <div class="card-ordonance">
    <p>Ordonance déjà transmise</p>
    <p class="card-footer">Created by Rahul C.</p>
  </div>
  <div class="card-ordonance">
    <p>Ordonance déjà transmise</p>
    <p class="card-footer">Created by Rahul C.</p>
  </div>
  <div class="card-ordonance">
    <p>Ordonance déjà transmise</p>
    <p class="card-footer">Created by Rahul C.</p>
  </div>
</div>

