
<h1>Prescriptions#index</h1>
<p>Find me in app/views/prescriptions/index.html.erb</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UserChoiceModal">
  Préparer une nouvelle ordonnance
</button>

<!-- Modal -->
<div class="modal fade" id="UserChoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir un patient</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@prescription, url: doctor_prescriptions_path, method: 'POST') do |f| %>
          <%= f.input :patient_id, collection: Patient.simple_form_collection %>
          <%= f.submit 'Commencer', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h1>Mes dernières ordonances</h1>
<div id="flexbox-centrage">
  <% @prescriptions.each do |prescription|  %>
  <div class="card-ordonance">
    <p class="titre-ordonnance"><%= prescription.status %></p>
    <p class="card-footer"></p>
    <ul>
      <li>Patient : <%= prescription.patient.first_name %> <%= prescription.patient.last_name %></li>
      <li><%= prescription.date %></li>
      <li><%= prescription.status %></li>
      <div class="link-to">
      <div class="div-link">
      <%= link_to "Voir le detail",  doctor_prescription_path(prescription), class:"link-to"  %>
      </div>
    </ul>
</div>
<% end %>

<!-- Modal -->
<div class="modal-global modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sélectionner le patient:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Search bar à coder
      </div>
      <div class="modal-footer">
        <a href="#"class="btn-modal">Choisir</a>
      </div>
    </div>
  </div>
  <div class="card-ordonance">
    <p>Ordonance déjà transmise</p>
    <p class="card-footer">Created by Rahul C.</p>
  </div>
  <div class="card-ordonance">
    <p>Ordonance déjà transmise</p>
    <p class="card-footer">Created by Rahul C.</p>
  </div>
  <div class="card-ordonance">
    <p>Ordonance déjà transmise</p>
    <p class="card-footer">Created by Rahul C.</p>
  </div>
</div>
