<h1 class="titre-page-mobile text-center mt-2">Ordonnances</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">En cours</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Passées</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <% @sent_prescriptions.sort.reverse!.each do |prescription|  %>
      <%= link_to  patient_prescription_path(prescription), class: "card-ordonnance-patient" do %>
          <div class="ordonnance-doctor">
            <% if prescription.doctor.photo.attached? %>
              <%= cl_image_tag prescription.doctor.photo.key, class: "avatar" %>
            <% end  %>
            <div class="text-card-doctor">
              <p class="ordonnance-date"> Ordonnance du <%= prescription.date.strftime('%d/%m/%Y') %></p>
              <p class="titre-p"><%= prescription.doctor.first_name %> <%= prescription.doctor.last_name %></p>
            </div>
          </div>
      <% end %>
    <% end %>

  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    <% @ordered_prescriptions.sort.reverse!.each do |prescription|  %>
      <%= link_to  patient_prescription_path(prescription), class: "card-ordonnance-patient" do %>
          <div class="ordonnance-doctor">
            <% if prescription.doctor.photo.attached? %>
              <%= cl_image_tag prescription.doctor.photo.key, class: "avatar" %>
            <% end  %>
      <div class="text-card-doctor">
          <p class="ordonnance-date"> Ordonnance du <%= prescription.date.strftime('%d/%m/%Y')   %></p>
            <p class="titre-p"><%= prescription.doctor.first_name %> <%= prescription.doctor.last_name %></p>
      </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
