
<h1>Medichome</h1>  

<div class="flexbox-card">
    <% @prescriptions.each do |prescription|  %>

        <div class="card-ordonance-patient">
            <div class="flexbox-global">
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style:'position: absolute;' %>
                    <p class="titre-ordonnances"><%= prescription.status %></p>
                <div class="card-patient-flexbox">
                    <p><%= prescription.doctor.first_name %><%= prescription.doctor.last_name %></p>
                    <p><%= prescription.date %></p>
                </div>
            </div>
    
                
      
            <div class="div-link">
              <button class="bn632-hover bn26"><%= link_to "Voir le detail",  patient_prescription_path(prescription) %></button>   
                 
            </div>
        </div>
    <% end %>
</div>
<h2>Ordonnances</h2>
<h1>Medichome</h1>   
<%= image_tag "icons8-plan-de-traitement-64.png", alt: "icone de medoc" %>


