<div class="container">
  <h1 class="titre-page-mobile"id="titre-page-ordo">Ordonnance en cours</h1>

  <div class="ordonnance-patient">
    <%# contact médecin %>
    <div class="flexbox-ordonnance-patient">
      <% if @prescription.doctor.photo.attached? %>
        <%= cl_image_tag @prescription.doctor.photo.key, class: "avatar" %>
      <% else  %>
        <%= image_tag "", class: "avatar" %>
      <% end %>
      <div class="text-ordo-patient">
        <p id="DR"><%= @prescription.doctor.first_name %> <%= @prescription.doctor.last_name %></p>
        <p>Médecin généraliste</p>
        <p><%= @prescription.doctor.address %></p>
        <p>Numéro RPPS: <%= @prescription.doctor.rpps  %></p>
        <div class="calendar">
        <%= image_tag "icons8-planner-64" %>
        <p><%= @prescription.date.strftime('%d/%m/%Y') %></p>
      </div>
      </div>
    </div>
    <hr>
    <%# médicaments %>

    <p class="medoc-nb"> <%= @prescription.prescription_items.count %> <%= "médicament".pluralize(@prescription.prescription_items.count) %> <%= "prescrit".pluralize(@prescription.prescription_items.count) %></p>

    <% @prescription_items.sort.reverse!.each do |prescription_item| %>
      <div class="medoc">
        <p id="titre-medoc"><%= prescription_item.item.name %></p>
        <div class="card-medoc">
            <%= image_tag "icons8-pill-64"%>
            <p><%= prescription_item.item.desc %></p>
          </div>
          <div class="card-medoc">
            <%= image_tag "icons8-clock-64"%>
            <p><%= prescription_item.posology %></p>
          </div>
      </div>
      <hr>
    <% end %>

  <% if @prescription.sent? %>
    <div class="flex-boutton">
        <%= link_to prescription_pharmacies_path(params[:id]) do%>
        <button class="bn632-hover bn26">Choisir une pharmacie</button>
      <% end %>
    </div>
  <% else %>
    <div class="flex-boutton">
        <%= link_to patient_prescriptions_path() do%>
        <button class="bn632-hover bn26">Déja commandée - Retour</button>
      <% end %>
    </div>
  <% end %>
</div>
