<div class="navuser">
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
     <div class="button">
       <i class="fa-solid fa-house-user"></i>
       <p>Accueil</p>
     </div>
    <% end %>
    <%= link_to patient_prescriptions_path do %>
      <div class="button">
        <i class="fa-solid fa-hospital-user"></i>
        <p>Mes ordonnances</p>
      </div>
    <% end %>
    <%= link_to patient_prescriptions_path do %>
      <div class="button">
        <% if controller_name == "pharmacies" && action_name == "show" %>
          <i class="fa-solid fa-cart-arrow-down"></i>
          <p><span data-add-item-target="navbar"><%= @cart.cart_items.count %></span> <%= "article".pluralize(@cart.cart_items.count) %></p>
        <% else %>
          <i class="fa-solid fa-user-doctor"></i>
          <p>Mes docteurs</p>
        <% end %>
      </div>
    <% end %>
</div>
