<div class="navuser">
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
     <div class="button">
       <i class="fa-solid fa-house-user"></i>
       <p>Accueil</p>
     </div>
    <% end %>
    <%= link_to patient_prescriptions_path do %>
      <div class="button">
        <i class="fa-solid fa-hospital-user"></i>
        <p>Mes ordonnances</p>
      </div>
    <% end %>
    <%= link_to url: "" do %>
      <div class="button">
        <% if controller_name == "pharmacies" && action_name == "show" %>
          <div class="cart-icon-container">
          <i data-add-item-target="cartIcon" class="fa-solid fa-cart-arrow-down"></i>
          <span data-add-item-target="pastille" class= "<%= "d-none"if @cart.items.count == 0 %>"  ><%= @cart.items.count %></span>
          </div>
          <p><span data-add-item-target="navbar">Mon panier</span></p>
        <% else %>
          <i class="fa-solid fa-user-doctor"></i>
          <p>Mes docteurs</p>
        <% end %>
      </div>
    <% end %>
</div>
