<div class="banner-img">
  <div class="parent-flexbox">
      <button class= "boutton-carré" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UserChoiceModal">
          <h2>Nouvelle Ordonnance</h2>
          <%= image_tag "prescription.png", alt: "icone de medoc", class:"image-bouton-carré" %>
      </button>
      <%= link_to  doctor_prescriptions_path do %>
      <button class= "boutton-carré">
          <h2>Rechercher une ordonnance</h2>
          <%= image_tag "search-icon.png", alt: "icone de TRJSsearch", class:"image-bouton-carré" %>
      </button>
      <% end %>
  </div>
</div>


<!-- Modal -->
<div class="modal-global modal fade" id="UserChoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir un patient</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer modal-body">
        <%= simple_form_for(@prescription, url: doctor_prescriptions_path, method: 'POST') do |f| %>
          <%= f.input :patient_id, collection: Patient.simple_form_collection, class: "user-select", input_html: {data: {controller: "tom-select"}} %>
          <%= f.submit 'Commencer', class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2f5dbf" fill-opacity="1" d="M0,224L80,197.3C160,171,320,117,480,106.7C640,96,800,128,960,154.7C1120,181,1280,203,1360,213.3L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg> %>
