<div class="container">
  <div class="grid-dr-home w-75 mx-auto">
    <div class="card-dr-home-left w-50">
      <%= image_tag "DOC-PHOTO.jpg", alt: "icone de medoc", class:"card-img-dr-home" %>
      <div class="card-content-dr-home">
        <h1 class="card-header-dr-home">Nouvelle Ordonnance</h1>
        <p class="card-text-dr-home">Ajouter une prescription. La transmettre en un clic !</p>
        <button class="card-btn-dr-home" data-bs-toggle="modal" data-bs-target="#UserChoiceModal"> Créer <span>&rarr;</span></button>
      </div>
    </div>

    <div class="card-dr-home-right ml-3 w-50">
      <%= image_tag "DOC-PHOTO1.jpg", alt: "icone de medoc", class:"card-img-dr-home" %>      <div class="card-content-dr-home">
      <h1 class="card-header-dr-home">Rechercher une ordonnance</h1>
      <p class="card-text-dr-home">Parcourir mes ordonnances en cours et mes ordonnances émises.</p>
      <%= link_to  doctor_prescriptions_path do %>
<%# <<<<<<< HEAD %>
      <button class="card-btn-dr-home">Rechercher <span>&rarr;</span></button>
<%# ======= %>
      <%# <button class= "boutton-carré" type="button" class="btn btn-primary"> %>
          <%# <h2>Rechercher une ordonnance</h2> %>
          <%#= image_tag "search-icon.png", alt: "icone de TRJSsearch", class:"image-bouton-carré" %>
      <%# </button> %>
<%# >>>>>>> master %>
      <% end %>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal-global modal fade" id="UserChoiceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Choisir un patient</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer modal-body">
        <%= simple_form_for(@prescription, url: doctor_prescriptions_path, method: 'POST') do |f| %>
          <%= f.input :patient_id, collection: Patient.simple_form_collection, input_html: {data: {controller: "tom-select"}}, class: "user-select" %>
<%# <<<<<<< HEAD %>
          <%#= f.submit 'Commencer', class: "btn btn-primary text-white" %>
<%# ======= %>
          <%= f.submit 'Commencer', class: "bn632-hover bn26" %>
<%# >>>>>>> master %>
        <% end %>
      </div>
    </div>
  </div>
</div>
